 {{!-- {{#if logged_in}} --}}
 {{!-- <div id="deletePost"> --}}
  {{!-- {{#each comments}}
  <p>{{comment_text}} by {{name}}</p>
  <button class="btn btn-sm btn-danger" id="deletePost" data-id="{{comment_id}}">Delete Comment</button>
  {{/each}} --}}
  <br>
  <br>
  {{!-- {{#each users}}
  <p>by: {{name}}</p>
  {{/each}} --}}
  <h3>Comment:</h3>
  <form class="comForm">
    <textarea name="commentBody" class="commentBody"></textarea>
    <button type="submit" class="btn commentBody" data-id="{{id}}">Add</button>
  </form>
  {{!-- </div> --}}
  {{!-- {{/if}} --}}

  <script src="/js/addcom.js"></script>