
<h2>Edit Post</h2>
<input class="post-title" placeholder="{{post.title}}"/>
<textarea class="post-text" placeholder="{{post.post_text}}"></textarea>
<button data-id="{{post.post_id}}" type="submit" class="btn btn-primary editPost">Publish</button>

<script src="/js/editpost.js"></script>

{{!-- <h1>Edit Post</h1>
<form class="" data-id="{{product.product_id}}">
<div class="input-group">
  <span class="input-group-text">Name and Condition:</span>
  <input type="text" placeholder="{{product.product_name}}" class="form-control p-name">
  <input type="text" placeholder="{{product.condition}}"class="form-control p-cond">
</div>
<button data-id="{{product.product_id}}" type="submit" class="btn btn-primary update-prod" id="updateprod-btn">Publish</button>
</form>
<script src="/js/updateprod.js"></script> --}}
