<div>
    <h4><a href="/post">Back to Timeline</a></h4>
</div>

<section>
    <h2>Edit Post</h2>
    <form class="editPost">
        <div>
            <input name="post-title" type="text" placeholder="{{title}}"/>
        </div>
        <div>
            <textarea name="post-text" placeholder="{{post_text}}"></textarea>
        </div>
        <div>
            <a href="/post/{{post.id}}">{{post.comments.length}}</a>
            <h3>Posted by {{user.email}} {{post.created_at}}</h3>
        </div>
    </form>
</section>

{{!-- <div id="deletePost">
<h2>
    {{#each comments}}
    <p>
       comment: {{comment}}
    </p>  
        <button class="btn btn-sm btn-danger" id="deletePost" data-id="{{id}}" id="" >DELETE COMMENT</button>
    {{/each}}
    </h2>
    </div>
    
<form class="addCom">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" id="button-addon1" data-id="{{post_id}}">Add comment</button>
        <input type="text" class="form-control" placeholder="{{comment_text}}" aria-describedby="button-addon1" id="addCom" height="55" width="100%">
    </div>
</form> --}}

{{!-- <script src="/js/edit-post.js"></script>
<script src="/js/addcom.js"></script>
<script src="/js/deletepost.js"></script> --}}