{{!-- {{#if logged_in}} --}}
<div>
  {{#if posts.length}}
    <div>
      <h2>Current Feed:</h2>
      {{#each posts as |post|}}
        <div class="row mb-2 postList-form">
          <div class="col-md-8">
            <h3><a href="/userpost/{{post_id}}">{{post.title}}</a></h3>
          </div>
          {{!-- {{#each comments}} --}}
          <div>
            <h4>Posted by: {{user.name}}, {{user.email}}</h4>
            <h5>Posted on: {{format_date date}}</h5>
          </div>
          {{!-- {{/each}} --}}
        </div>
        {{!-- <div class="col-md-4">
          <button data-id="{{post_id}}" type="submit" class="btn btn-primary deletePost">Delete</button>
        </div> --}}
      {{/each}}
    </div>
  {{/if}}
</div>
{{!-- {{/if}} --}}
{{!-- <div>
    <h2><a href="/profile/{{id}}">{{blog_title}} Posted on {{date}}</a></h2>
    <h5>Posted by: {{user.name}}</h5>
</div> --}}
{{!-- {{else}} --}}
{{! <h4>There are no up to date post!</h4> }}
{{!-- {{/each}} --}}
{{!-- <script src="/js/deletepost.js"></script> --}}