{{#if logged_in}}
<div class="row">
  <div class="col-auto">
    <h2>Hi, {{name}}!</h2>
  </div>
</div>

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>What's on your mind?</h3>

    <form class="form newPost">
      <div class="form-group">
        <label for="post-title">Topic:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Post:</label>
        <textarea class="form-input" type="text" id="post-text" name="post-text" placeholder="What's on your mind..."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div> --}}
{{#if posts.length}}
<div class="col-md-6">
    <h3>Feed</h3>
    <h4>Posted by: {{name}}</h4>
    {{#each posts as |post|}}
    <div class="row mb-2" id="deleteCom">
      <div class="col-md-8">
        <h4>
            <a href="/edit-post/{{id}}">
            {{title}} 
            </a>
            <-- click to update post
        </h4>
        {{!-- <div class="col-md-4">
         <button class="btn btn-sm btn-danger deletePost" data-id="{{post_id}}">Delete</button>
        </div> --}}
      </div>
        {{/each}}
        {{!-- <h3>{{post_text}}</h3> --}}
        <h4>Comments:</h4>
        {{#each comments}}
        <h4>{{comment_text}}</h4>
        <form id="deleteCom" data-id="{{id}}">
          <button type="submit" class="btn btn-sm btn-danger" data-id="{{id}}">Delete Comment</button>
        </form>
        {{/each}}
        <h3>{{date}}</h3>
        {{!-- <p>{{post}}</p>
        <h3>{{date}}</h3> --}}
      </div
        {{!-- <div class="col-md-4">
         <button class="btn btn-sm btn-danger deletePost" data-id="{{post_id}}">Delete</button>
        </div> --}}
      </div>
</div>
{{!-- {{/each}} --}}
{{/if}}
{{!-- <form class="comForm"> --}}
  {{!-- <div class="input-group mb-3"> --}}
    <div class="addComment"><a href="/comment/{{id}}"><button class="btn btn-sm btn-danger" data-id="{{id}}">ADD COMMENT</button></a></div>
    {{!-- <button class="btn btn-outline-secondary" data-id="{{id}}"><a href="/comment/{{}}"></a> comment</button> --}}
    {{!-- <input type="text" class="form-control commentBody" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> --}}
  {{!-- </div> --}}
</form>
{{!-- {{/each}} --}}
{{else}}
<p>{{name}} has no Post!</p>
{{!-- {{/if}} --}}
{{/if}}

<script src="/js/deletecom.js"></script>


